<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>


</head>
<body>


    
    <nav>
        <a routerLink='/home'>Inicio</a>&nbsp;&nbsp;&nbsp;
        <a routerLink='/course'>Cursos</a>&nbsp;&nbsp;&nbsp;
        <a routerLink='/contacts'>contactenos</a>&nbsp;&nbsp;&nbsp;
        <a routerLink='/admin'>administrador</a>&nbsp;&nbsp;&nbsp;
    </nav>


  
  
  </body>
</html>


