<!-- <app-instructor *ngFor="let item of listinstructor" [instructor]="item" [coverWidth]=200></app-instructor>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ instructor.image }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ instructor.name }} {{ instructor.lastName }}</h5>
      <p class="card-text">{{ instructor.educationTitle }}</p>
    </div>
</div> -->

<app-teacher *ngFor="let tea of listInstructor" [teacher]="tea" ></app-teacher>