<html><head>
    <title>Bienvenido a la Intranet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    </head>
    
    <body bgcolor="E8E6CC" leftmargin="0" topmargin="0">
    <form name="frmacceso" method="post">
    <!--- F.MN. V&A == (AJMMOMHR) --->
    <input type="Hidden" name="txtvalor">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <td width="94"></td>
        <td></td>
      </tr>
    </tbody></table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <td width="300" rowspan="2" valign="top">
          <table width="100%" height="100%" border="1" cellpadding="1" cellspacing="5" bordercolor="E8E6CC">
            <tbody><tr>
              <td rowspan="2" width="2"></td>
              <td height="280">
                 
              </td>
            </tr>
            <tr>
              <td height="10" bgcolor="A1AFA2">&nbsp;</td>
            </tr>
          </tbody></table>
        </td>
        <td width="16" rowspan="2" valign="top" >
         
        </td>
        <td width="120" rowspan="2" valign="bottom"><p></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p></td>
        <td align="left" valign="top">
        <table width="300" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="44" height="43"></td>
              <td >&nbsp;</td>
              <td width="24"></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="3">
                  <tbody><tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="2">Usuario:</td>
                  </tr>
                  <tr>
                    <td>
                        <input class="crema02" type="text" size="20" name="txtUsuario" style="font-size: 8 pt">
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="2">Contraseña:</td>
                  </tr>
                  <tr>
                    <td><input class="crema02" type="password" size="20" name="txtPassword" style="font-size: 8 pt"></td>
                    <td align="right">
                      <input class="crema01" type="submit" name="Submit" value="Ingresar">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2"> <div align="right"><br>
                        Máximo 12 caracteres, solo se deben ingresar numero
                        y letras en minúsculas.<br>
    <!---                    &iquest;Olvido su contrase&ntilde;a?---></div>
    <!--                  <p align="right">&iquest;Todav&iacute;a no eres usuario? Puedes
                        <a href="inscripcion.jsp">Inscribirte.</a>---><br>
                        ¿Deseas ver el <a href="manualUsuario.html" target="_blank">manual de usuario</a>?
                      <p></p></td>
                  </tr>
                </tbody></table></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="44" height="24"></td>
              <td>&nbsp;</td>
              <td></td>
            </tr>
          </tbody></table></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
    </tbody></table>
    </form>
    
    
    </body></html>